/*CSS de las páginas obras, primera fase, segunda fase, tercera fase y cuarta fase*/

/*Los distintos contenedores grandes son divs que contiene todos los elementos de la página*/
.contenedor-grande2 {
    width: 60%;
    height: 3400px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}

.contenedor-grande3 {
    width: 60%;
    height: 5000px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}

.contenedor-grande4 {
    width: 60%;
    height: 2850px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}

.contenedor-grande5 {
    width: 60%;
    height: 8200px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}

.contenedor-grande6 {
    width: 60%;
    height: 5550px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}

.contenedor-grande7 {
    width: 60%;
    height: 2500px;
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    overflow: hidden;
    background: rgb(250, 250, 250, 0.4);
}


.img {
    width: 90%;
    object-fit: cover;
}

.galeria img {
    height: 90%;
}

/*Es el div que contiene la galería de fotos y sus estilos*/
.galeria {
    height: 3600px;
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 30px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
}

/*Estilos de los títulos de la página*/
.tit {
    background: rgb(250, 250, 250, 0.4);
    margin-left: 350px;
    width: 60%;
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
}